.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(10%);
    transition: all 3s;
}

.hidden-x {
    @extend .hidden;
    transform: translateX(-10%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-y {
    opacity: 0;
    transform: translateY(50%);
    transition: all 2s;
}

.show-y {
    opacity: 1;
    transform: translateY(0);
}

@keyframes float {
    0% {
        transform: translatey(20px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(20px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUpPulse {
    0% {
        transform: scale(1)
    }
    10% {
        transform: scale(1.1)
    }
    20% {
        transform: scale(1)
    }
    30% {
        transform: scale(1.1)
    }
    40% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    60% {
        transform: scale(1)
    }
    70% {
        transform: scale(1.1)
    }
    80% {
        transform: scale(1)
    }
    90% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes border_anim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}