// Colours are based on a Triadic colour palette

$colour-primary: #050d36;
$colour-primary-dark: #fcb103;
$colour-secondary: #913bff;
$colour-tertiary: #D700FF;
$colour-light: #ffdf33;
$colour-dark: #000;
$colour-gray: rgba(255,255,255,0.3);